
.slide.carousel-inner
  .active.item
    %h3 
      Универсальные товары/Антифриз и омыватель 
    .clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/anti_f2.jpg", :alt => ""}/ 
        %span.cat_brend
          Антифриз
          %br/ 
          фирма:Hepu
          %br/ 
          10 литров
          %br/ 
          цена :100 гр 
      %span.clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/anti_f1.jpg", :alt => ""}/
        %span.cat_brend
          Антифриз
          %br/ 
          фирма:Hepu
          %br/ 
          10 литров
          %br/ 
          цена :100 гр 
      %span.clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/anti_f3.jpg", :alt => ""}/
        %span.cat_brend
          Антифриз
          %br/ 
          фирма:Hepu
          %br/  
          10 литров
          %br/ 
          цена :100 гр 
      %span.clear
    .clearfix
  .item
    %h3 
      Универсальные товары/аккумуляторы
    .clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/akkum_1.jpg", :alt => ""}/ 
        %span.cat_brend
          Аккумулятор
          %br/ 
          фирма: Варта
          %br/ 
          12в
          %br/ 
          цена :500 гр 
      %span.clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/akum_2.jpg", :alt => ""}/
        %span.cat_brend
          Аккумулятор 
          %br/ 
          фирма: Bosh
          %br/ 
          12 d
          %br/ 
          цена :600 гр 
      %span.clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/akkum_3.jpg", :alt => ""}/
        %span.cat_brend
          Аккумулятор
          %br/ 
          фирма: Tesla
          %br/ 
          12 в
          %br/ 
          цена :550 гр 
      %span.clear
    .clear
  .item
    %h3 
      Универсальные товары/Автолампы
    .clearfix
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/lamp1.jpg", :alt => ""}/ 
        %span.cat_brend
          Автолампа 
          %br/ 
          фирма:Philips
          %br/ 
          12 в
          %br/ 
          цена :200 гр 
      %span.clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/lamp2.jpg", :alt => ""}/
        %span.cat_brend
          Автолампа
          %br/ 
          фирма:Narva 
          %br/ 
          12 в
          %br/ 
          цена :150 гр 
      %span.clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/lamp3.jpg", :alt => ""}/
        %span.cat_brend
          Автолампа 
          %br/ 
          фирма:Philips
          %br/  
          12 в
          %br/ 
          цена :130 гр 
      %span.clear
    .clearfix
  .item
    %h3 
      Универсальные товары/Автомасло
    .clearfix
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/masl1.jpg", :alt => ""}/ 
        %span.cat_brend
          Автомасло
          %br/ 
          фирма: Mobil
          %br/ 
          5 л
          %br/ 
          цена :200 гр 
      %span.clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/masl2.jpg", :alt => ""}/
        %span.cat_brend
          Автомасло
          %br/ 
          фирма: Total 
          %br/ 
          3 л
          %br/ 
          цена :150 гр 
      %span.clear
    .slide_info.well
      %a{:href => "#{}"} 
        %img{:src => "/assets/lamp3.jpg", :alt => ""}/
        %span.cat_brend
          Автолампа 
          %br/ 
          фирма:Philips
          %br/  
          12 в
          %br/ 
          цена :130 гр 
      %span.clear
    .clearfix
%a.carousel-control.left{"data-slide" => "prev", href: "#slider_box"} 
%a.carousel-control.right{"data-slide" => "next", href: "#slider_box"} 
