- unless current_page?( new_user_registration_path)
  .side_for_user.well 
    .store_menu 
      %h3 
        Личный кабинет
      
        

      -if user_signed_in?
          
        %ul
          %li{class: "#{'active_us' if current_page?(user_url(current_user))}"} 
            =link_to "Личные данные ", user_url(current_user)
            .clearfix
          %li{class: "#{'active_us' if current_page?(orders_path)}"} 
            =link_to "Мои заказы", orders_path
            .clearfix
          %li{class: "#{'active_us' if current_page?(cart_path(@cart))}"} 
            =link_to "корзина", @cart, remote: true
            .clearfix
          %li{class: "#{'active_us' if current_page?(cart_url(@cart))}"} 
            =link_to "Баланс"
            .clearfix
          %li{class: "#{'active_us' if current_page?(cart_url(@cart))}"} 
            =link_to "Персональный счет"
            .clearfix
        .clearfix
      
       
    
    - unless user_signed_in? || current_page?(new_user_session_path)

      .user_cab
    
        =render "users/form_user"
    - else
      - unless current_page?(new_user_session_path) 
        .user_cab
          %p.user_n
            %span.icon-user 
            %strong 
              = current_user.user_login
            
          %p.out
    
            =link_to  destroy_user_session_path, method: "delete" do
              %span.icon-arrow-left
              Выход
          .clear