#search_order 

  %table.table.table-bordered
    %tr 
      %th 
        Дата
      %th 
        Заказ
        %br/ 
        (номер)
      %th
        Фирма
      %th 
        Артикул
      %th 
        Описание
      %th 
        Кол
      %th
        Цена
      %th
        Сумма 
      %th 
        Оплата
      %th 
        Статус
      %th 
      %th
    
    - @orders.each do |order|
      %tr.t_2
        %td= order.created_at.to_date
        %td= order.id
        %td{colspan: "12", class: "ord"}
          %table
            - order.line_items.each do |line|
              %tr 
                %td.b_n 
                  = line.price_part.spare_part.brend.title
                %td 
                  = line.price_part.spare_part.title
                %td 
                  = line.price_part.spare_part.descriptions
        %td 
        %td
        

%br

= link_to 'New Order', new_order_path
%p 
  = will_paginate @orders
