.falcon_form_all
  %h2 Оформление заказа
  .user_ord
    -if @user.legal_entity == true
      %p 
        = @user_organization
    %p  
      %strong Контактное лицо ФИО:  ...........
      = @user.first_name 
      = @user.last_name
      = @user.patronymic
    %p
      %strong Email:  ...........
      =@user.email

  %fieldset
    %legend 
    = render :partial => "form"