= title"Корзина"
-if @cart.line_items.empty?
  =render "carts/empty_cart"
- else
  #cart_id
    
    %h1 
      %span Ваша корзина
        
      #notise_id
        = bootstrap_flash
    %table#cart_table.table.table-condensed.table-bordered.index_part_table.cart_table
      %thead
        %tr.cart_table_title
          %th=  t('spare_part.show_title')
          %th= t('spare_part.descriptions')
          %th= t('spare_part.price')
          
          %th Наличие
          %th=  t('spare_part.count')
          %th

      %tbody
        = render(cart.line_items)
        %tr.total_line 
          %td.total_title{colspan: "4"} Общяя сумма:
          %td.total_cell{colspan: "2"} 
            = number_to_currency(cart.total_price, unit: "UA",   format:"%n %u")

    .cart_form 
      - unless current_page?(new_order_path)
        = button_to 'Оформить заказ', new_order_path, method: :get, class: "btn btn-success"
        -if can? :destroy, @cart
          = button_to 'Удалить корзину', cart, method: :delete,  data: {confirm: 'Точно удалить?'},class: "btn btn-smal btn-danger "
      - else
        = button_to 'Отменить заказ', store_path, method: :get , :class => 'btn btn-inverse reset'
  