- @spare_parts.each do |spare_part|
  - if spare_part.parent_id == nil   

    -spare_part.children.each do |analog_part|
      %tr.viev_art.info
        %td.part_view
          = image_tag(analog_part.brend.image)
          %strong 
            = analog_part.brend.title
            = analog_part.title
        %td.part_view_desc= analog_part.descriptions
        %td.part_view_img= image_tag(analog_part.image.thumb.url)
        %td#supplier_id{colspan: "4"}
          %table.table.table-hover
            -analog_part.price_parts.limit(1).each  do |price|
              %tr.info
                %td=price.quantity
             
                %td
                  = number_to_currency(price.price, unit: "грн", format: "%n %u")
                                 
                %td
                  = price.delivery 
                  дн
                %td.bt_cart
                  - if user_signed_in?
                    = form_tag line_items_path(price_id: price), :method => :post, remote: true  do
                      = button_tag class:"btn btn-mini" do
                        = content_tag :i, "" ,class: "icon-shopping-cart icon-white"
                  -else
                    = link_to new_user_session_path, class:"btn btn-mini" do
                      %i.icon-shopping-cart
  - else
    %tr.viev_art.info
      %td.part_view

        = image_tag(spare_part.parent.brend.image)
        = spare_part.parent.brend.title
        = spare_part.parent.title
      %td.part_view_desc= spare_part.parent.descriptions
      %td.part_view_img= image_tag(spare_part.parent.image.thumb.url)
      %td#supplier_id{colspan: "4"}

    

        %table.table.table-hover
          -spare_part.parent.price_parts.limit(1).each  do |price|
            %tr.info
              %td=price.quantity
             
              %td
                = number_to_currency(price.price, unit: "грн", format: "%n %u")
                                 
              %td
                = price.delivery 
                дн
              %td.bt_cart
                -if user_signed_in?
                  = form_tag line_items_path(price_id: price), :method => :post, remote: true  do
                    = button_tag class:"btn btn-mini" do
                      = content_tag :i, "" ,class: 'icon-shopping-cart'
                -else
                  = link_to new_user_session_path, class:"btn btn-mini" do
                    %i.icon-shopping-cart
    -spare_part.parent.children.each do |child|
      - if child != spare_part

        %tr.viev_art.info
          %td.part_view

            = image_tag(child.brend.image)
            = child.brend.title
            = child.title
            .brend.title
          %td.part_view_desc= child.parent.descriptions
          %td.part_view_img= image_tag(child.parent.image.thumb.url)
          %td#supplier_id{colspan: "4"}

    

            %table.table.table-hover
              -child.price_parts.limit(1).each  do |price|
                %tr.info
                  %td=price.quantity
             
                  %td
                    = number_to_currency(price.price, unit: "грн", format: "%n %u")
                                 
                  %td
                    = price.delivery 
                    дн
                  %td.bt_cart
                    -if  user_signed_in?
                      = form_tag line_items_path(price_id: price), :method => :post, remote: true  do
                        = button_tag class:"btn btn-mini" do
                          = content_tag :i, "" ,class: 'icon-shopping-cart'
                    -else
                      = link_to new_user_session_path, class:"btn btn-mini" do
                        %i.icon-shopping-cart


      