.accordion#accordion2.search_table1
  %table.table.table-condensed.table-bordered
    %thead#title
      %tr
        %th.spare_title
          =  t('spare_part.show_title')
        %th.spare_desc_title
          = t('spare_part.descriptions')
        %th.spare_img_title
          = t('spare_part.image')
        %th.spare_qan_title
          =  t('spare_part.count')
        %th.spare_price_title
          = t('spare_part.price')
        %th.spare_delivery_title
          %small 
            колл дней доставки
        %th.spare_cart_title
          
    %tbody
      %tr
        %td{colspan: "7"} 
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseOne"}
                Выбранный Артикул
            #collapseOne.accordion-body.collapse.in
              .accordion-inner.tab
                %table.table.table-condensed.search_table2
                  - @spare_parts.each do |spare_part|

                    %tr
                      %td.part_view
                        = image_tag(spare_part.brend.image)
                        = spare_part.brend.title
                        = spare_part.title
                      %td.part_view_desc
                        = spare_part.descriptions
                      %td.part_view_img
                        = image_tag(spare_part.image.thumb.url)
                      %td#supplier_id{colspan: "4"}
                        %table.table
                          -spare_part.price_parts.each do |price|
                            %tr
                              %td
                                = price.quantity 
                                шт
                              %td
                                = number_to_currency(price.price, unit: "грн", format: "%n %u")
                                 
                              %td
                                = price.delivery 
                                дн
                              %td
                                = form_tag line_items_path(price_id: price), :method => :post, remote: true  do
                                  = button_tag do
                                    = content_tag :i, "" ,class: 'icon-shopping-cart'
      %tr                     
        %td{colspan: "7"} 
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseTwo"}
                Аналог
            #collapseTwo.accordion-body.collapse.in
              .accordion-inner.tab 
                %table.table.search_table2        
                  = render "analog_part"