.info_search
  %h2
    Ваш результат поиска

.accordion#accordion2.search_table1
  %table.table.table-condensed.table-bordered
    %thead#title
      %tr
        %th.spare_title
          =  t('spare_part.show_title')
        %th.spare_desc_title
          = t('spare_part.descriptions')
        %th.spare_img_title
          = t('spare_part.image')
        %th.spare_qan_title
          =  t('spare_part.count')
        %th.spare_price_title
          = t('spare_part.price')

        %th.spare_delivery_title
          %small
            колл дней доставки
        %th.spare_cart_title

    %tbody
      %tr
        %td{colspan: "7"}
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseOne"}
                Выбранный Артикул
            #collapseOne.accordion-body.collapse.in
              .accordion-inner.tab
                %table.table.table-condensed.search_table2
                  - @spare_parts.each do |spare_part|

                    %tr.viev_art.info
                      %td.part_view
                        = image_tag(spare_part.brend.image)
                        %strong
                          = spare_part.brend.title
                          = spare_part.title
                      %td.part_view_desc
                        = spare_part.descriptions
                      %td.part_view_img
                        = image_tag(spare_part.image.thumb.url)
                      %td#supplier_id{colspan: "4"}
                        %table.table.sup_id.table-hover
                          -spare_part.price_parts.each do |price|
                            %tr.info
                              %td
                                = price.quantity
                                шт
                              %td
                                -if current_user.discount_rate?
                                  - desc = price.price.to_i -  price.price.to_i* current_user.discount_rate
                                  %a{:href => "#",  :rel => "tooltip",  :title=> "#{"Ваша цена "+"#{number_to_currency(desc.to_i, unit: "грн", format: "%n %u")}"}","data-placement" => "right"}

                                    =number_to_currency(price.price, unit: "грн", format: "%n %u")
                                -else
                                  %a{:href => "#",  :rel => "tooltip",  :title=> "Увас нет скидки","data-placement" => "right"}
                                    =number_to_currency(price.price, unit: "грн", format: "%n %u")

                              %td
                                = price.delivery
                                дн
                              %td.bt_cart
                                -if user_signed_in?
                                  = form_tag line_items_path(price_id: price), :method => :post, remote: true  do
                                    = button_tag class:"btn btn-mini" do
                                      = content_tag :i, "" ,class: "icon-shopping-cart icon-white"
                                -else
                                  = link_to new_user_session_path, class:"btn btn-mini" do
                                    %i.icon-shopping-cart



      %tr
        %td{colspan: "7"}
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapseTwo"}
                Аналог
            #collapseTwo.accordion-body.collapse.in
              .accordion-inner.tab
                %table.table.search_table2
                  = render "analog_part"