.right_spare_part  
  - model_class = SparePart
  .page-header
    %h1=t 'spare_part.spare_title', :default => model_class.model_name.human.titleize
  
  %p
    %strong= model_class.human_attribute_name t('spare_part.show_title') + ':'
    %br
    = @spare_part.title
  %p
    %strong= model_class.human_attribute_name t('spare_part.descriptions') + ':'
    %br
    = @spare_part.descriptions
  %p
    %strong= model_class.human_attribute_name t('spare_part.image') + ':'
    %br
    =image_tag(@spare_part.image_url)
  %p
    %strong= model_class.human_attribute_name t('spare_part.price') + ':'
    %br
    = @spare_part.price
  
  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), spare_parts_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_spare_part_path(@spare_part), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")),   spare_part_path(@spare_part), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
  