<div class="registr_box">
  <%-unless params[:action] == "edit_personal_data" %>
    <h2> Изменить логин или пароль</h2>
  <%else%>
   <h2> Изменить регистрационные данные </h2>
  <%end%>
  <%= simple_form_for(current_user, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
    
      <%-if params[:action] == "edit_personal_data" %>
        <%= f.input :first_name, :required => true, :autofocus => true   %>
        <%= f.input :last_name,:required => true %>
        
        <%= f.input :patronymic %>
        <%= f.input :email, :required => true %>
        <%= f.input :city %>
        <%= f.input :address %>
        <%= f.input :user_organization %>
        <div class="u_tel">
        <%= f.input :user_telephon %>
        <span class="tel_n">+80</span>
       </div> 
        <%= f.input :user_login, :required => true, :autofocus => true %>
      <%- else %>
        <%= f.input :user_login, :required => true, :autofocus => true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, :autocomplete => "off", :hint => "Введите новый пароль", :required => false %>
        <%= f.input :password_confirmation, :required => false %>
    
      <% end %>
      <%= f.input :current_password, :hint => "Введите текущий пароль", :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Обновить" %>
    </div>
  <% end %>

  <h3>Удалить всю учетную запись</h3>

  <p>Unhappy? <%= link_to "Удаление учетной записи", registration_path(resource_name), :data => { :confirm => "Точно удалить" }, :method => :delete %></p>

 
</div>